@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Custom */

.chrome-picker {
  width: auto !important;
  box-shadow: none !important;
  border-radius: 0.5rem !important;
  overflow: hidden !important;
}

.circle-picker {
  width: auto !important;
}
